<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Pryor Global Nodejs</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link rel="stylesheet" href="/public/assets/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="/public/assets/css/sweetalert2.min.css" type="text/css" />
</head>

<body>
	<script type="text/javascript">
		(function (root) {
			'use strict'
			var full_url = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '') + "/";
			root.BASE_API = full_url + "api_v1/";
			root.BASE_URL = full_url;
		})(this);
	</script>
	<script src="/public/assets/js/jquery.slim.min.js"></script>
	<script src="/public/assets/js/propper.min.js"></script>
	<script src="/public/assets/js/bootstrap.min.js"></script>
	<script src="/public/assets/js/sweetalert2.min.js"></script>
	<script src="/public/assets/js/axios.min.js"></script>
	<script src="/public/assets/js/vue.min.js"></script>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">Pryor Global Nodejs</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>